.grid-container {
  display: grid;
  grid-template-areas:
    "a b"
    "c d"
    "e f";
}

#overskrift {
  grid-area: a;
}

.billede1 {
  grid-area: c;
}

.tekst1 {
  grid-area: d;
}
.billede2 {
  grid-area: e;
}
.tekst2 {
  grid-area: f;
}
